.box{
    width: 1000;
    height: 900;
    background-color: blueviolet;
    
    padding: 100px;
    margin: 100px;
}
.box1{
    width: 1000;
    height: 900;
    background-color: blueviolet;
    
    padding: 100px;
    margin: 100px;
}